@* 
@inherits LayoutComponentBase

<div class="layout-wrapper">
    <aside class="sidebar-left">
        <NavMenu />
    </aside>

    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
@using SocialNet.Client.Client.Components
@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div class="layout-wrapper">
    <aside class="sidebar-left">
        <NavMenu />
    </aside>
    <main class="main-content">
        @Body
    </main>
    <aside class="sidebar-right">
        <SuggestedUsers />
    </aside>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>